html, body{
    font-family: Comic sans-serif;
    font-size: 100.01%;
    width: 100%;
    
}
ul{
    padding: 0;
    margin: 0;    
}
li{
    list-style-type: none;
}
.content{
    &>div{
        min-height: 95vh;
        text-align: center;
        span{
            display: inline-block;
        }
    }
}
.headText{
    border-bottom: 3px solid #333;
    margin-top: 25px;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 15px;
    text-transform: uppercase;
}