header{
    /*padding: 0;
    margin: 0 !important;*/
    border-radius: 0 !important;
    @media (min-width: 771px){
        ul#links{
            display: inline-block;
            & li:hover a{
                text-decoration: underline;
            }
        }
    }
    button.btn{
        position: absolute;
        right: 0;
        top: 0;
        border: 1px solid rgba(255, 255, 255, 0.56);
        border-radius: 5px;
        margin: 5px;
        &:hover{
            border: 1px solid rgba(255, 255, 255, 0.56);
            border-radius: 5px;
            margin: 5px;
            transform: scale(1.05);
        }
    }
    @media (min-width: 770px){
            button.btn{
                display: none !important;
            }
        }
    .nav.navbar-nav{
        text-align: center;
    }
}